.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.web {
    color: var(--blue-text);
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: white;
}

.header a {
    color: var(--black-text);
}

.navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.navigation .active,
.navigation a:hover,
.navigation a:focus {
    color: var(--blue-text);
}

.contacts-head a {
    color: var(--grey-text);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.contacts-head a:hover,
.contacts-head a:focus {
    color: var(--blue-text);
}

.hero {
    background-color: var(--hero-background);
    color: var(--white-text);
}

.hero-btn {
    border: var(--blue-text);
    background: var(--blue-text);
    color: var(--white-text);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;    
    line-height: 1.87;
    letter-spacing: 0.06em;
}

.title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.section-advantages {
    background-color: white;
}

.advantages {
    color: var(--black-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.text-advantages {
    color: var(--grey-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.sect-header {
    color: var(--black-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.section-team {
    background-color: var(--team-background);
}

.team-names {
    color: var(--black-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.team-profession {
    color: var(--grey-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.footer {
    background-color: var(--hero-background);
}

.footer a {
    color: var(--white-text);
}

address {
    color: var(--white-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.contacts-foot a {
    color: var(--white-text-op60);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.contacts-foot a:hover,
.contacts-foot a:focus {
    color: var(--blue-text);
}

.portfolio {
    background-color: white;
}

.portfolio-btn.active,
.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--white-text);
    background-color: var(--blue-text);
}


.portfolio-btn {
    border: var(--team-background);
    background: var(--team-background);
    color: var(--black-text);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.port-img {
    color: var(--black-text);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.port-img-text {
    color: var(--grey-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}